body {
  background: radial-gradient(
    circle at 74.2% 50.9%,
    rgb(14, 72, 222) 5.2%,
    rgb(3, 22, 65) 75.3%
  );
  font-family: "Otomanopee One", sans-serif;
}

footer {
  display: block;
  text-align: center;
  color: #5dc0a6;
  margin-top: 31px;
  border: 1px solid #ffd3de;
  border-radius: 5px;
}

h1 {
  color: #5dc0a6;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  text-align: left;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #ffd3de;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-align: left;
}

li:first-letter {
  text-transform: capitalize;
}

.weatherAppWrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weatherApp {
  padding: 20px;
  border: 1px solid #ffd3de;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weatherTemperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  vertical-align: top;
}

.weatherTemperature strong {
  color: #f6b8d1;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weatherTemperature .active {
  color: #ffd3de;
  cursor: default;
  text-decoration: none;
}

.weatherTemperature .inactive {
  text-decoration: none;
}

.weatherTemperature .units {
  font-size: 16px;
  position: relative;
  top: -34px;
  right: -5px;
}

.floatLeft {
  float: left;
}
