body {
  background: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
  font-family: "Otomanopee One", sans-serif;
}

h5 {
  text-align: center;
  color: #ffb5b5;
  font-size: 20px;
}

h1 {
  text-align: center;
  color: #f5e1da;
  font-size: 31px;
  display: block;
}

h2 {
  text-align: center;
  color: #9face6;
  font-size: 24px;
  display: block;
}

#query {
  text-align: center;
  border-radius: 3px;
  color: #a0a0a0;
  padding: 17px 31px;
  display: block;
}

.weatherExtra {
  font-size: 18px;
  color: #9face6;
  text-align: center;
}

.weather {
  color: #f5e1da;
  font-size: 21px;
  text-align: center;
}

.temp {
  color: #f5e1da;
  font-size: 18px;
  text-align: center;
}

h6 {
  text-align: center;
}

.card-header {
  font-size: 11px;
  color: #9face6;
  text-align: center;
}

#button {
  border: 1px solid #132743;
  font-size: 18px;
  transition: all 200ms ease-in-out;
  background: #f5e1da;
  color: #407088;
  border-radius: 3px;
  display: inline-flex;
  text-align: center;
  margin-top: 5px;
  margin-left: 220px;
}

#button :hover {
  border: 1px solid #132743;
  font-size: 18px;
  transition: all 200ms ease-in-out;
  background: #ebebeb;
  color: #407088;
}

.card-body {
  background: #132743;
  display: block;
}

.box {
  margin-left: 68px;
  margin-top: 25px;
  width: 55px;
  display: inline-flex;
}

.work {
  text-align: center;
  font-size: 15px;
  color: #9face6;
}

.col-sm-2 {
  padding: 0 auto;
}

.rainy {
  text-align: center;
  color: #74ebd5;
  font-size: 18px;
}

.cloudy {
  text-align: center;
  color: #9face6;
  font-size: 18px;
}

#this {
  color: #ffb5b5;
  font-size: 15px;
  text-align: center;
  display: block;
}

.fa-search-location {
  font-weight: 900;
  font-size: 21px;
}

#celsius-link,
#fahrenheit-link,
#weatherInfo {
  text-align: center;
  color: #132743;
  font-size: 18px;
  display: block;
}

footer {
  display: block;
  text-align: center;
  color: black;
}
